<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %} {% endblock %}
    <title>Title</title>
</head>
<body>
    <header class="page-header">
        <div class="page-header__wrapper container">
            <div class="page-header__logo">
{#                <a href="#"><img src="src/images/logo.svg" width="20" height="20" alt="Логотип Callium"></a>#}
            </div>

            <nav class="site-nav page-header__site-nav">
                <ul class="site-nav__list">
                    <li class="site-nav__item"><a href="/">Главная</a></li>
                    <li class="site-nav__item"><a href="{% url 'about' %}">Об авторе</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}

    {% endblock %}
</body>
</html>