h1 {
  text-align: center;
  padding: 30px 30px;
}

.count {
  font-size: 20px;
  margin-bottom: 10px;
}

.elements {
  text-align: justify;
  border: 5px solid lightgray;
  background-color: lightyellow;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d3d3d3;
  padding: 10px;
  color: #7c367c;
  margin-bottom: 10px;
  border-radius: 10px;
}

.top a {
  font-size: 20px;
  text-decoration: none;
  color: #772d58;
  cursor: pointer;
}

.blog-text {
  font-size: 20px;
  padding: 15px;
  text-indent: 1.5em;
}